<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">

    <!-- Le styles -->
    {% if not is_production %}
    <script src="{{ STATIC_URL }}assets/js/libs/holder.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/vendor/bootstrap/css/bootstrap.css">	
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/styles.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}r/index.css">
    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    {% block header %}{% include 'fragments/header.html' %}{% endblock header %}
    <div role="main" id="main">
        {% block content %}{% endblock content %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-main="{{ STATIC_URL }}app/config" src="{{ STATIC_URL }}assets/js/libs/require.js"></script>

</body>
</html>
